KDSConsoleClient/Service References/ServiceReference1/KDSService.AppModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KDSService.AppModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KDSService.AppModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderCltModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderCltModel" nillable="true" type="tns:OrderCltModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderCltModel" nillable="true" type="tns:ArrayOfOrderCltModel" />
  <xs:complexType name="OrderCltModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dishes" nillable="true" type="tns:ArrayOfOrderDishCltModel" />
      <xs:element minOccurs="0" name="HallName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waiter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCltModel" nillable="true" type="tns:OrderCltModel" />
  <xs:complexType name="ArrayOfOrderDishCltModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDishCltModel" nillable="true" type="tns:OrderDishCltModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDishCltModel" nillable="true" type="tns:ArrayOfOrderDishCltModel" />
  <xs:complexType name="OrderDishCltModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDishCltModel" nillable="true" type="tns:OrderDishCltModel" />
</xs:schema>