KDSConsoleClient/Service References/ServiceReference1/KDSService.AppModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KDSService.AppModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KDSService.AppModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDish" nillable="true" type="tns:ArrayOfOrderDish" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="tns:OrderStatus" />
      <xs:element minOccurs="0" name="OrderStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="QueueStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpentTime" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TableNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waiter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderDish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDish" nillable="true" type="tns:OrderDish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDish" nillable="true" type="tns:ArrayOfOrderDish" />
  <xs:complexType name="OrderDish">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DishStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstimatedTime" type="xs:int" />
      <xs:element minOccurs="0" name="FilingNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsRollback" type="xs:boolean" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentUid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReadySpentTime" type="xs:int" />
      <xs:element minOccurs="0" name="RollbackDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpentTime" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID1C" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDish" nillable="true" type="tns:OrderDish" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentDepartmentGroup" nillable="true" type="tns:ArrayOfDepartmentDepartmentGroup" />
      <xs:element minOccurs="0" name="DishQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAutoStart" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDish" nillable="true" type="tns:ArrayOfOrderDish" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfDepartmentDepartmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDepartmentGroup" nillable="true" type="tns:DepartmentDepartmentGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDepartmentGroup" nillable="true" type="tns:ArrayOfDepartmentDepartmentGroup" />
  <xs:complexType name="DepartmentDepartmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentGroup" nillable="true" type="tns:DepartmentGroup" />
      <xs:element minOccurs="0" name="DepartmentGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDepartmentGroup" nillable="true" type="tns:DepartmentDepartmentGroup" />
  <xs:complexType name="DepartmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentDepartmentGroup" nillable="true" type="tns:ArrayOfDepartmentDepartmentGroup" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentGroup" nillable="true" type="tns:DepartmentGroup" />
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
</xs:schema>