KDSWPFClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KDSServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="getDataEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="setDataEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1200000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KDSService.AppModel" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKDSService_GetOrderStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatuses" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetOrderStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetHostAppSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostAppSettings" />
  </wsdl:message>
  <wsdl:message name="IKDSService_GetHostAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSService_SetExpectedTakeValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExpectedTakeValue" />
  </wsdl:message>
  <wsdl:message name="IKDSService_SetExpectedTakeValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExpectedTakeValueResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_LockOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:LockOrder" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_LockOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_DelockOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DelockOrder" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_DelockOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelockOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_LockDish_InputMessage">
    <wsdl:part name="parameters" element="tns:LockDish" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_LockDish_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockDishResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_DelockDish_InputMessage">
    <wsdl:part name="parameters" element="tns:DelockDish" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_DelockDish_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelockDishResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_ChangeOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_ChangeOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_ChangeOrderDishStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderDishStatus" />
  </wsdl:message>
  <wsdl:message name="IKDSCommandService_ChangeOrderDishStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrderDishStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IKDSService">
    <wsdl:operation name="GetOrderStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSService/GetOrderStatuses" message="tns:IKDSService_GetOrderStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSService/GetOrderStatusesResponse" message="tns:IKDSService_GetOrderStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSService/GetDepartments" message="tns:IKDSService_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSService/GetDepartmentsResponse" message="tns:IKDSService_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSService/GetOrders" message="tns:IKDSService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSService/GetOrdersResponse" message="tns:IKDSService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostAppSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSService/GetHostAppSettings" message="tns:IKDSService_GetHostAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSService/GetHostAppSettingsResponse" message="tns:IKDSService_GetHostAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExpectedTakeValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSService/SetExpectedTakeValue" message="tns:IKDSService_SetExpectedTakeValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSService/SetExpectedTakeValueResponse" message="tns:IKDSService_SetExpectedTakeValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IKDSCommandService">
    <wsdl:operation name="LockOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/LockOrder" message="tns:IKDSCommandService_LockOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/LockOrderResponse" message="tns:IKDSCommandService_LockOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelockOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/DelockOrder" message="tns:IKDSCommandService_DelockOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/DelockOrderResponse" message="tns:IKDSCommandService_DelockOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockDish">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/LockDish" message="tns:IKDSCommandService_LockDish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/LockDishResponse" message="tns:IKDSCommandService_LockDish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelockDish">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/DelockDish" message="tns:IKDSCommandService_DelockDish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/DelockDishResponse" message="tns:IKDSCommandService_DelockDish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/ChangeOrderStatus" message="tns:IKDSCommandService_ChangeOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/ChangeOrderStatusResponse" message="tns:IKDSCommandService_ChangeOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderDishStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IKDSCommandService/ChangeOrderDishStatus" message="tns:IKDSCommandService_ChangeOrderDishStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKDSCommandService/ChangeOrderDishStatusResponse" message="tns:IKDSCommandService_ChangeOrderDishStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getDataEndPoint" type="tns:IKDSService">
    <wsp:PolicyReference URI="#getDataEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetOrderStatuses">
      <soap12:operation soapAction="http://tempuri.org/IKDSService/GetOrderStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/IKDSService/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/IKDSService/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostAppSettings">
      <soap12:operation soapAction="http://tempuri.org/IKDSService/GetHostAppSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpectedTakeValue">
      <soap12:operation soapAction="http://tempuri.org/IKDSService/SetExpectedTakeValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="setDataEndpoint" type="tns:IKDSCommandService">
    <wsp:PolicyReference URI="#setDataEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LockOrder">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/LockOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelockOrder">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/DelockOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDish">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/LockDish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelockDish">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/DelockDish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/ChangeOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOrderDishStatus">
      <soap12:operation soapAction="http://tempuri.org/IKDSCommandService/ChangeOrderDishStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KDSServiceClass">
    <wsdl:port name="getDataEndPoint" binding="tns:getDataEndPoint">
      <soap12:address location="net.tcp://localhost:8733/KDSService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/KDSService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="setDataEndpoint" binding="tns:setDataEndpoint">
      <soap12:address location="net.tcp://localhost:8734/KDSCommandService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/KDSCommandService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>